.dobby {
    background-color: aqua;
    border-radius: 15px;
    border: none;
    opacity: 0.8;
    cursor: pointer;
  }
  
  .dobby,
  .dobby select {
    background-color: aqua;
    border-radius: 15px;
    border: none;
    opacity: 0.8;
  }
  
  #typewriter-text {
    animation: typewriter-effect 0.5s ease-in;
  }
  
  @keyframes typewriter-effect {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  