.dobby {
    background-color: aqua;
    background: aqua;
    border-radius: 15px; 
    border: none; 
    opacity: 0.8; 
    cursor: pointer;
}

.dobby,Select {
    background-color: aqua;
    background: aqua;
    border-radius: 15px; 
    border: none; 
    opacity: 0.8; 
}
