body {
  background-image: url('./bgimg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.my-button-success {
  padding-top: 10px;
  padding: 5px 8%;
  
}

.from-button
{
  margin-top: 40px;
  background-color: white;
 
}
